/* mobile/src/index.css */
:root {
  font-family: system-ui, -apple-system, sans-serif;
  background-color: #000000;
  color: #ffffff;
}

body, html {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  /* Removemos o display: flex e place-items daqui para evitar conflitos */
  overflow-x: hidden;
  background-color: #000000;
}

#root {
  width: 100%;
  height: 100%;
}

* {
  box-sizing: border-box;
}